@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root[data-mode="light"]{
  --bg-header: #FFF;
  --bg-content: #e3e3e3; 
  
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --white300: hsl(0, 0%, 99%);
  --blue-200: #bfdbfe;
  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
}

:root[data-mode="dark"]{
  --bg-header: #000;
  --bg-content: #393e46; 
}

html, body{
  min-height: 100%;
  width: 100%;
  background-color: var(--bg-content);
}

.homeLayout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 60px minmax( calc(100vh - 60px) , auto);
  background-color: var(--bg-header);
}
.newBlogLayout{
  padding:20px;
} 

body.loginLayout{
  height: 100vh;
}

@media screen and (width <= 700px ) {
  
}